# .clang-format
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
ColumnLimit: 100
PointerAlignment: Left
AlignAfterOpenBracket: DontAlign
AlignOperands: true
AlignTrailingComments: true
SpacesInParentheses: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
SortIncludes: true
IncludeBlocks: Preserve
NamespaceIndentation: All
DerivePointerAlignment: false
ReflowComments: true
IndentCaseLabels: true
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: true
